@import './base.css';

#app {
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #12b584;
  transition: 0.4s;
  padding: 4px 0;
  border-radius: 4px;
}

.dark a {
  color: #33d6a6;
}

@media (hover: hover) {
  a:hover {
    background-color: #33d6a633;
  }
}
